p{
    margin-bottom:20px ;
    font-size: 35px;
    
}
h1{
    font-size: 85px;
    font-weight: 700;
}
button{
    background-color: blue;
    width: 250px;
    height: 80px;
    color: #fff;
}
button:hover{
    background-color: green;
}